#buttons {

    height: 50px;

}



#add-topic {

    color: white;

    background-color: rgb(12, 12, 48);

}



.topic {

    color: white;

    background-color: rgb(12, 12, 48);

}



#gifTest {

    height: 300px;

}